body {
  margin: 0px;
  padding: 0px;
}

#root {
  margin: 0px;
  padding: 0px;
}

#hero {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#particles {
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgb(24, 24, 29);
  z-index: 1;
}

.heroText {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: sans-serif;
  z-index: 10;
  height: 30%;
  font-weight: lighter;
  transition: opacity 1.8s;
}

.heroHeadingLoading {
  transition: all 1.8s;
  opacity: 0;
  transform: translateX(-20%);
}

.heroHeading {
  transition: opacity 1.8s;
  transform: translateX(0);
  opacity: 1;
  font-size: 3.5rem;
  position: relative;
  pointer-events: none;
}

.goToContent {
  margin: 25px;
  padding: 8px 30px;
  font-size: 1.72rem;
  border: 3px solid rgb(236, 76, 76);
  color: rgb(236, 76, 76);
  border-radius: 5px;
  transition: all 0.3s;
  transform: scale(1);
  user-select: none;
}

.goToContent:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.goToContent:active {
  transform: scale(1.015);
  cursor: pointer;
}

#about {
  height: 50vh;
  width: 100vw;
}

@media screen and (max-width: 830px) {
  .heroHeading {
    font-size: 2.8rem;
  }

  .goToContent {
    font-size: 1.65rem;
  }
}

@media screen and (max-width: 660px) {
  .heroHeading {
    font-size: 2.3rem;
  }

  .goToContent {
    font-size: 1.42rem;
  }
}

@media screen and (max-width: 550px) {
  .heroHeading {
    font-size: 2rem;
  }

  .goToContent {
    font-size: 1.22rem;
  }
}

@media screen and (max-width: 450px) {
  .heroHeading {
    font-size: 1.5rem;
  }

  .goToContent {
    font-size: 1.1rem;
  }
}